# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
*.pyc

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# JetBrains IDEs
.idea/

# PyCharm
*.iml

# Environments created by pipenv/poetry
Pipfile.lock
poetry.lock

# Coverage reports
htmlcov/
.coverage

# Distribution / packaging
build/
dist/
*.egg-info/

# Misc
*.swp