{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">Add a new tweet</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nickname" class="form-label">Nickname</label>
            <input type="text" class="form-control" id="nickname" name="nickname" required>
        <br>
            <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea class="form-control" id="content" name="content" rows="3" required></textarea>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}

 